* {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  background: #1E2024;
}
#header .header {
  display: flex;
  padding: 30px 0;
}
#header .header__logo {
  display: flex;
}
#header .header__logo p {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #FFFFFF;
}
#header .header__course {
  display: flex;
  align-items: center;
  padding-left: 106px;
}
#header .header__course p {
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  color: #9099A3;
}
#header .header__btn {
  padding-left: 40%;
}
#header .header__btn select {
  border-radius: 10px;
  background: transparent;
  color: white;
  outline: none;
}
#header .header__btn button {
  width: 100px;
  height: 40px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
<<<<<<< HEAD
  margin: 0 20px;
=======
  margin: 0 30px;
>>>>>>> 6952d287d139e8d72f4112985948834e4ef93dd9
  transition: 0.7s;
  color: white;
}
#header .header__btn button:hover {
  transition: 0.7s;
  transform: translateY(-10px);
  background: transparent;
  border: 1px solid white;
}

#africa {
  background: url("../img/travel.png") no-repeat center/cover;
  min-height: 100vh;
  border-bottom: #211e1e;
}
#africa .africa__title {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
  flex-wrap: wrap;
}
#africa .africa__title h1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
#africa .africa__title p {
  font-weight: 400;
  font-size: 14px;
  color: #2C3E50;
  margin: 0 10px;
}
#africa .africa__title a {
  width: 12px;
  height: 6.88px;
  color: #000000;
}
#africa .africa__text {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 23%;
}
#africa .africa__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13%;
  margin-left: 12%;
  width: 1140px;
  height: 160px;
  background: #FFFFFF;
  border-radius: 15px;
}
#africa .africa__block--one {
  text-align: center;
  margin: 0 40px;
}
#africa .africa__block--one a {
  font-size: 22px;
}
#africa .africa__block--one h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2C3E50;
}
#africa .africa__block--one p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2C3E50;
<<<<<<< HEAD
}

#travel {
  background: #1E2024;
}
#travel .travel {
  padding: 100px 0;
}
#travel .travel h1 {
  padding: 10px 0;
}
#travel .travel h1__start {
  width: 610px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 15px;
=======
}

#margulan {
  background: #211e1e;
}
#margulan .margulan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 115px 0;
}
#margulan .margulan__one--block {
  padding: 2px 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 510px;
  height: 217px;
  left: 80px;
  top: 702px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
#margulan .margulan__one--block img {
  flex-wrap: wrap;
  margin: 5px 6px;
}
#margulan .margulan__one--block p {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
#margulan .margulan__one--button {
  margin: 20px 0;
}
#margulan .margulan__one--button h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 54px;
  text-transform: capitalize;
  color: #FFFFFF;
}
#margulan .margulan__one--button button {
  width: 180px;
  height: 40px;
  left: 80px;
  top: 993px;
  margin: 20px 0;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  font-weight: 900;
  font-size: 13px;
  text-transform: capitalize;
  color: #FFFFFF;
  transition: 0.7s;
}
#margulan .margulan__one--button button:hover {
  transition: 0.7s;
  transform: translateY(-10px);
  background: none;
  border: 1px solid white;
}
#margulan .margulan__one--button h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
#margulan .margulan__two {
  width: 510px;
  height: 520px;
  left: 610px;
  top: 702px;
  background: #FFFFFF;
  border-radius: 15px;
}
#margulan .margulan__two--text {
  margin: 0 20px;
}
#margulan .margulan__two--text p {
  margin-top: 50px;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #9099A3;
}
#margulan .margulan__two--text h1 {
  font-weight: 800;
  font-size: 34px;
  text-transform: capitalize;
  margin: 20px 0;
  color: #2C3E50;
}
#margulan .margulan__two--text h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #2C3E50;
}
#margulan .margulan__two--fon {
  margin-left: 45%;
}
#margulan .margulan__two--fon img {
  margin-top: -38px;
>>>>>>> 6952d287d139e8d72f4112985948834e4ef93dd9
}

/*# sourceMappingURL=style.css.map */
