@mixin btn {
  padding: 10px 30px;
  color: white;
  transition: .7s;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  cursor: pointer;
  flex-wrap: wrap;
  transform: translateY (-10px);
  outline: none;
  &:hover{
    background: transparent;

  }
}